@font-face {
  font-family: "iconfont"; /* Project id 2848432 */
  src: url('//at.alicdn.com/t/font_2848432_353q2tqwcj5.woff2?t=1643203314999') format('woff2'),
       url('//at.alicdn.com/t/font_2848432_353q2tqwcj5.woff?t=1643203314999') format('woff'),
       url('//at.alicdn.com/t/font_2848432_353q2tqwcj5.ttf?t=1643203314999') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yijianfankui:before {
  content: "\e662";
}

.icon-youhuiquan:before {
  content: "\ecac";
}

.icon-shouye:before {
  content: "\e637";
}

.icon-zhinanzhen:before {
  content: "\e8a1";
}

.icon-yinsitiaokuan:before {
  content: "\e621";
}

.icon-dianping:before {
  content: "\e653";
}

.icon-shangchuan:before {
  content: "\e7c4";
}

.icon-xiangyou:before {
  content: "\e601";
}

.icon-xiangyou2:before {
  content: "\e776";
}

.icon-xiangyou3:before {
  content: "\e778";
}

.icon-zhixiangyou:before {
  content: "\e8f4";
}

.icon-qianwang:before {
  content: "\e81d";
}

.icon-fenxi:before {
  content: "\e609";
}

.icon-fenxi1:before {
  content: "\e648";
}

.icon-denglutijiao:before {
  content: "\e6b0";
}

.icon-xiayige:before {
  content: "\e6ca";
}

.icon-shangyige:before {
  content: "\e6cc";
}

.icon-jiantou_yemian_xiangyou_o:before {
  content: "\eb93";
}

.icon-jiantou_yemian_xiangzuo_o:before {
  content: "\eb94";
}

.icon-pingjia:before {
  content: "\e613";
}

.icon-shoucang:before {
  content: "\eca7";
}

.icon-goumai:before {
  content: "\e636";
}

.icon-fanhui:before {
  content: "\e8a4";
}

.icon-yongyan:before {
  content: "\e600";
}

.icon-shangdian:before {
  content: "\e626";
}

.icon-shangdian1:before {
  content: "\e603";
}

.icon-shangdian2:before {
  content: "\e611";
}

.icon-icon-test:before {
  content: "\e632";
}

.icon-weibiaoti-_huabanfuben:before {
  content: "\e60f";
}

.icon-shangdian3:before {
  content: "\e8e2";
}

.icon-shangdian4:before {
  content: "\e750";
}

.icon-maobi:before {
  content: "\e608";
}

.icon-mianxingyumaobi:before {
  content: "\e676";
}

.icon-maobi1:before {
  content: "\e69f";
}

.icon-xinwen_o:before {
  content: "\ebca";
}

.icon-danganziliao-qitaziliao:before {
  content: "\e625";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-saoyisao:before {
  content: "\e8b5";
}
